resources:
- name: {{ env["name"] }}
  type: compute.v1.subnetwork
  properties:
    network: {{ properties["network"] }}
    ipCidrRange: {{ properties["ipRange"] }}
    region: {{ properties["region"] }}
    privateIpGoogleAccess: false
